body{
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}
p{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
ul{
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
button{
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
}